
@{
    ViewBag.Title = "AddAward";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Sertifika Ekleme Sayfası</h2>
<form method="post">
    <label>Sertifika Başlığı</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Sertifika Açıklaması</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>