@model List<MyEgitimAkademi.Models.Award>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sertifikalar</h2>
<table class=" table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.AwardID</td>
        <td>@item.Title</td>
        <td>@item.Description</td>
        <td><a href="/Award/DeleteAward/@item.AwardID" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="/Award/UpdateAward/@item.AwardID" class="btn btn-outline-success">Güncelle</a></td>
    </tr>
    }
</table>

<a href="/Award/AddAward/" class="btn btn-outline-primary">Yeni Sertifika Ekle</a>
