@model List<MyEgitimAkademi.Models.Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>Yetenek Listesi</h2>

   
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Yetkinlik Değeri</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
<tr>
    <td>@count</td>
    <td>@item.SkillTitle</td>
    <td>@item.SkillValue</td>
    <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-outline-danger">Sil</a></td>
    <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-outline-success">Güncelle</a></td>
</tr>
    }
   
    </table>
<a href="/Skill/AddSkill/" class="btn btn-outline-primary">Yeni Yenetek Ekle</a>